{% if ansible_fqdn != 'media01.griend.dev' %}
export http_proxy=http://proxy01.griend.dev:3128/
export https_proxy=http://proxy01.griend.dev:3128/
export ftp_proxy=http://proxy01.griend.dev:3128/
{% endif %}
